@use "./variables" as *;

@mixin button {
  padding: 20px 32px;
  background-color: $button-color;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: $link-transition;
  cursor: pointer;

  &:hover {
    color: $text-color;
    background-color: $button-color-hover;
  }
}
