//Colors:
$primary: #967a67;
$secondary: #3e3d3c;
$additional: #efefee;
$form-bg: #fafafa;
$form-bg-focus: #ffffff;

$text-color: #ffffff;
$text-color-hover: #ffffffc0;
$button-color: #a3826c;
$button-color-hover: #a77a5a;
$form-border: #bababa;

// Breakpoints:
$breakpoint-mobile: 750px;

//Transitions:
$link-transition: all 400ms ease;
