@use "../partials" as *;

.quote__container {
  @include container;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  blockquote {
    max-width: 600px;
    margin-bottom: 2em;

    h2 {
      color: black;
    }
  }
}
