@use "../partials" as *;

.support__container {
  @include container;
  display: flex;
  padding-top: 5em;
  padding-bottom: 5em;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 5rem;
  }
}

.support__part {
  max-width: 40%;

  h2 {
    color: black;
    margin-bottom: 1em;
  }

  @media (max-width: $breakpoint-mobile) {
    max-width: 100%;
    text-align: center;

    h2 {
      text-align: center;
    }
  }
}

.support__button_secondary {
  @include button;
}
