@use "../partials" as *;

.support__container {
  @include container;
  display: flex;
  padding-top: 5em;
  padding-bottom: 5em;
}

.support__part {
  max-width: 40%;

  h2 {
    color: black;
    margin-bottom: 1em;
  }
}

.support__button_secondary {
  @include button;
}
