@use "./partials" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto:wght@300;400;500&display=swap");

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: $text-color;
  font-family: Poppins;
  cursor: pointer;
  transition: $link-transition;

  &:hover {
    color: $text-color-hover;
  }
}

p {
  font-size: 0.9rem;
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto;
  font-weight: 500;
  color: $text-color;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

ul {
  list-style: none;
}

blockquote {
  margin: 0;
}
